
<h1>Productos</h1>

<h2>Lista de Productos</h2>

<% @products.each do |product| %>
  <!-- Enlace al producto -->
  <%= link_to product_path(product.id) do %>
    <!-- Título del producto -->
    <h3><%= product.title %></h3>

    <% end %>
    <!-- Descripción del producto -->
    <p><%= product.description %></p>

   
  
<% end %>
