/* application.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    text-align: center; /* Centra todo el contenido */
  }
  
  h1, h2 {
    color: #2c3e50;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }
  
  p {
    font-size: 1.1rem;
    color: #555;
    margin: 10px 0;
  }
  
  a {
    text-decoration: none;
    color: #3498db; /* Color de los links */
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    display: block;
    margin: 20px auto; /* Centra la imagen */
    max-width: 100%;
    height: auto;
  }
  